* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px red dotted;
}

body{
    width: 100%;
}

li{
    list-style: none;
}


button{
    color: black;
    background-color: white;
    border: none;
    padding: 15px 15px;
    font-size: 1em;
    cursor: pointer;
}

.bg-light-blue{
    height: 740px;
    background-color: lightblue;
}

/* nav */
nav{
    height: 85px;
    /* test */

    position: fixed;
    top: 0px;
    right: 0%;
    left: 0%;

    z-index: 10;

    display: flex;
    justify-content: space-between;

    padding: 0px 20px;

    background-color: aqua;
}

div.logo{
    height: 25px;
    /* test */

    width: 125px;
}

nav div.nav, ul.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;
}


li a{
    color: black;
    text-decoration: none;
}
/* end nav */

/* jumbo */
.up-box{
    margin-bottom: 150px;
}

#jumbotron{
    height: 640px;
    /* test */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 1200px;
    width: 100%;

    padding-top: 100px;

    margin-left: auto;
    margin-right: auto;
}

.title{
    width: 100%;
    height: 200px;

    background-color: pink;
}

.free-try{
    width: 40%;
    height: 440px;
    background-color: pink;
}

.jumbo-img{
    width: 60%;
    height: 440px;

    background-color: pink;
}
/* end jumbo */

/* main */
.container{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    max-width: 1000px;

    width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

/* first section */
.choice-of-plan{
    width: 100%;
    height: 130px;
    background-color: blueviolet;
    /* test */

    margin-bottom: 50px;
}

.plan-price{
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 1000px;

    margin-bottom: 50px;
}

.column{
    width: calc(100% / 3 - 25px * 3 /2);
    height: 100%;
    background-color: blueviolet;
}

.row{
    width: 100%;
    height: 270px;
    background-color: blueviolet;
}


/* second section */
.img-find{
    width: 60%;
    height: 540px;
    background-color: beige;
}

.text-find{
    width: 40%;
    height: 540px;
    background-color: beige;
}

/* third section */
.mini-title{
    width: 100%;
    height: 80px;

    margin-bottom: 50px;
    background-color: peru;
}

.operation-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;

    margin-bottom: 150px;
}

.box{
    width: calc(100% / 3 - 25px * 3 /2);
    height: 500px;

    margin-bottom: 50px;

    background-color: peru;
}

a.find-more{
    width: 100%;
    height: 70px;

    background-color: peru;
}

/* fourth section */
.big-container{
    display: flex;


    width: 100%;
    height: 660px;
}

.big-box{
    width: calc(100% / 3);
    height: 660px;

    background-color: orange;
}

.lateral{
    display: flex;
    flex-wrap: wrap;
}

.partner{
    width: calc(100% / 2);
    height: 330px;
}

.bg-light-blue-2{
    height: 370px;

    background-color: lightblue;
}

.try-business{
    height: 370px;

    background-color: orange;
}
/* end main */