* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Open Sans', sans-serif;
    
    /* border: 1px red dotted; */
}

body{
    width: 100%;
}

li{
    list-style: none;
}


button{
    color: black;
    background-color: white;
    border: none;
    padding: 7px 15px;
    font-size: 1em;
    cursor: pointer;
}

.btn-blue{
    color:white;
    background-color: #0061ff;
}

.btn-border-black{
    border: 1px black solid;
}

.bg-light-blue{
    background-color: lightblue;
}

/* nav */
nav{
    position: fixed;
    top: 0px;
    right: 0%;
    left: 0%;

    z-index: 10;

    display: flex;
    justify-content: space-between;

    padding: 25px 20px;

    background-color: white;
}

img.logo{
    display: block;
}

nav div.nav, ul.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;
}


li a{
    color: black;
    text-decoration: none;
}
/* end nav */

/* jumbo */
.up-box{
    margin-bottom: 150px;
}

#jumbotron{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 1200px;
    width: 100%;
    max-height: 740px;
    height: 100%;

    margin-top: 85px;

    margin-left: auto;
    margin-right: auto;
}

.title{
    width: 100%;

    padding-top: 80px;
    margin-bottom: 70px;
}

.title h1{
    font-size: 3.8em;
    font-weight: 800;
}

.free-try{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 30%;

    padding: 0px 30px 150px 0px;
}

.arrow-down{
    position: absolute;

    left: 0;
    bottom: 10px;

    font-size: 50px;
}

.jumbo-box{
    position: relative;
    width: 70%;
}

.jumbo-img{
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
}
/* end jumbo */

/* main */
.container{    
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;

    max-width: 1000px;

    width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

/* first section */
.choice-of-plan{
    width: 100%;

    margin-bottom: 50px;
}

.choice-of-plan h2{
    margin-bottom: 65px;
    font-size: 2em;

    font-weight: 800;
}

.check-container{
    display: flex;
    gap: 50px;
}

.plan-price{
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 50px;
}

.column{
    width: calc(100% / 3 - 25px * 3 /2);
    height: 100%;

    border: 1px #999999 solid;
}

.text-info{
    font-size: 0.8em;
    font-weight: 400;
}

.top{
    padding: 12px;

    text-align: center;

    border-bottom: 1px #999999 solid;
}

.text-info-central{
    display: flex;
    flex-direction: column;
    gap: 45px;

    padding: 40px 25px;
}

.plan-name{
    font-size: 1.3em;
    font-weight: 800;

    margin-bottom: 25px;
}

.price{
    font-size: 0.8em;
    font-weight: 600;

    margin-bottom: 20px;
}

.plan-time{
    font-size: 0.8em;
    font-weight: 400;

    color: #999999;
}

.text-body{
    position: relative;

    padding: 0px 20px;
    margin-bottom: 20px;
}

.fa-plan{
    position: absolute;

    top: 0;
    left: 0;
}

.buy-button{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.gray-line{
    border-top: 1px #999999 solid;

    width: 25%;
}

div.text-info.dots{
    margin-bottom: 30px;
}

.row{
    width: 100%;
    border: 1px #999999 solid;
}

.enterprise-info{
    display: flex;
    justify-content: space-between;
}

.info-left{
    display: flex;
    flex-direction: column;

    width: 60%;
}

.info-right{
    width: 40%; 
    padding: 40px 35px;
}
/* second section */
.img-find{
    width: 60%;  
}

.img-find img{
    width: 100%;
}

.text-find{
    width: 40%;

    padding: 50px;
}

.text-find h2{
    margin-bottom: 1.3em;
}

.text-find p{
    margin-bottom: 2.6em;
}

/* third section */
.mini-title{
    width: 100%;

    margin-bottom: 55px;
}

.mini-title h2{
    font-size: 2em;

    font-weight: 800;
}

.mini-title.space{
    padding-right: 400px;
}

.operation-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;

    margin-bottom: 150px;
}

.box{
    width: calc(100% / 3 - 25px * 3 /2);

    display: flex;
    flex-direction: column;

    margin-bottom: 50px;
}

.box div img{
    width: 100%;
}

.box div h3{
    font-size: 1.3em;
    font-weight: 800;

    margin-bottom: 45px;
}

a.find-more{
    width: 100%;
}

/* fourth section */
.big-container{
    display: flex;


    width: 100%;
    height: 660px;
}

.big-box{
    width: calc(100% / 3);
    height: 660px;

    background-color: orange;
}

.lateral{
    display: flex;
    flex-wrap: wrap;
}

.partner{
    width: calc(100% / 2);
    height: 330px;
}

.bg-light-blue-2{
    height: 370px;

    background-color: lightblue;

    margin-bottom: 150px;
}

.try-business{
    height: 370px;

    background-color: orange;
}

/* fifth section */
.mini-title.border-bottom, .border-bottom{
    border-bottom: 1px #999999 solid;
    margin-bottom: 0;
    padding-bottom: 50px;
}

.column-container{
    display: flex;
    flex-direction: column;

    max-width: 1000px;
    width: 100%;
}

.FAQ{
    width: 100%;
    padding-top: 50px;
}
/* end main */

/* footer */
/* footer link */
footer{
    max-height: 570px;
    height: 100%;

    padding-bottom: 50px;

    background-color: black;
}

.footer-container{
    display: flex;
    justify-content: flex-start;

    max-width: 1200px;
    width: 100%;

    padding-top: 100px;

    margin-left: auto;
    margin-right: auto;
}

.footer-link{
    width: calc(100% / 5);
}

h5{
    margin-bottom: 35px;
    
    font-size: 1.3em;

    color: white;
}

.footer-link ul li, .footer-link ul li a{
    padding-bottom: 1em;

    color: white;
}

/* footer end */
.choose-language{
    display: flex;

    gap: 5px;

    width: calc(100% / 5 - 130px);

    padding-top: 50px;
    border-top: 1px solid white;

    color: #999999;
}
/* end footer */